@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Slab:wght@100..900&display=swap');
:root {
    --primary-color: #11005ffb;
    --secondary-color: hsl(290, 100%, 56%);
    --accent1-color: #003858de;
    --accent2-color: #ff5286;

    --heading-font: Archivo Black, sans-serif;
    --paragraph-font: Roboto Slab;

    --nav-background-color: #D7DBD9;
    --nav-link-color: #003858de;
    --nav-hover-link-color: #F7E141;
    --nav-2-hover-link-color: #F7E141;
}

* {
    margin: 0;
  }

header {
    background-color: var(--primary-color);
    align-items: center;
    font-family: var(--paragraph-font);
    border-radius: 0.5cap;
}


h1 {
    font-family: var(--heading-font);
    color: var(--nav-hover-link-color);
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 0 0 1rem;
    margin: 0 0 1rem 0;
    width:100%;
}

#menu {
    display: block;
    font-size: 3rem;
    text-decoration: none;
    padding: 0 1.5rem 0 0;
    color: var(--accent2-color);
    position: absolute;
    top: 0;
    right: 0;
}

#menu::before {
    content: "≡";
}

#menu:hover {
    color: var(--nav-2-hover-link-color);
}


.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: var(--paragraph-font);

}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--accent2-color);
    text-align: center;
    padding: .75rem;
    font-family: var(--paragraph-font);
    font-weight: 600;
}

.navigation a:hover {
    color: var(--nav-2-hover-link-color);
}

.show {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
    font-family: var(--paragraph-font);
    font-size: 2rem;
    padding: 1.2rem 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
}

.navigation.show+h1,
h1.show {
    display: none;
}

main {
    padding: 0;
    gap: 0;
    margin: 0;
}

.page-title {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 2rem 0 .5rem 0;
    margin: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temple-card {
    display: block;
}

.temple-card-1 {
    background-color: #d3d3d3;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}
.label {
    color: var(--accent3-color);
    font-weight: 600;
    font-variant-caps: small-caps;
}
p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    padding: 0 0 5px 0;
    margin: 0;
}
.temple-card h3 {
    font-family: var(--paragraph-font);
}
.temple-card p {
    font-family: var(--paragraph-font);
}
.temple-card img {
    margin-top: .5rem;
}
footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
footer p {
    text-align: center;
    font-family: var(--paragraph-font);
}

.content.wrapper {
    padding: 0;
    gap: 0;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 3rem 0 .5rem 0;
    margin: 0;
}

img {
    max-width: 300px;
    max-height: 196px;
}

.image-grid {
    display: grid;
    padding: 0 0 2rem 0;
    gap: 0;
}

.image-grid img {
    height: 50vw;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1rem;
    border-radius: 0.5cap;
    font-family: var(--paragraph-font);
}

footer p {
    text-align: center;
    font-family: var(--paragraph-font);
}