@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Slab:wght@100..900&display=swap');
:root {
    --red: #bd0606;
    --green: #AACC00;

    --heading-font: Archivo Black, sans-serif;
    --paragraph-font: Roboto Slab;
}

body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.icon-small {
    display: inline-block;
}

.icon-img {
    display: flex;
    justify-content: center;
}

header {
    background-color: var(--green);
    color: #000;
    padding-bottom: 1rem;
    font-family: var(--heading-font);
}

header h1 {
    background-color: var(--red);
    color: #fff;
    padding: 2rem;
    text-align: center;
    font-size: 3.5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: var(--paragraph-font);
    background-color: var(--green);
}

picture img {
    border-bottom: .4rem solid var(--red);
    width: 100%;
    height: auto;
}

.data,
.weather {
    justify-self: center;
    padding: 1rem;
}

section h2:nth-child(1) {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

section p {
    text-align: center;
    padding: .4rem;
    font-size: 1.1rem;
}

footer {
    background-color: var(--red);
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}